<section class="progress-widget">
  <h1 class="progress-widget__title">Progress</h1>
  <div class="progressbar" aria-valuemin="0" aria-valuemax="100" style="--value: 75">
    <div class="progressbar__circle"></div>
  </div>
  <div class="controll-bar">
    <div class="controll-bar__button-block">
      <input class="controll-bar__value-input" type="number" min="0" max="100" placeholder="0" value="75"/>
      <p class="controll-bar__text">Value</p>
    </div>
    <div class="controll-bar__button-block">
      <label class="controll-bar__button">
        <input class="controll-bar__button-input animation" type="checkbox" />
        <span class="controll-bar__button-tumbler round"></span>
      </label>
      <p class="controll-bar__text">Animate</p>
    </div>
    <div class="controll-bar__button-block">
      <label class="controll-bar__button">
        <input class="controll-bar__button-input visability" type="checkbox" />
        <span class="controll-bar__button-tumbler round"></span>
      </label>
      <p class="controll-bar__text">Hide</p>
    </div>
  </div>
</section>